In [1]:
import pandas as pd
import json
from konlpy.tag import Mecab
engine = Mecab()

In [ ]:
# 인덱스 초기화 필요
# df2 = df.reset_index()
# #pandas 이용하여 json파일 저장시 한글저장이 안되어 다시 json파일로 만들어서 저장
# good_list = []
# for i in range(len(df)):
#     info = {
#         'searchkey' : df['searchkey'][i],
#         'url' : df['url'][i],
#         'period' : df['period'][i],
#         'company' : df['company'][i],
#         'title' : df['title'][i],
#         'genre,date,name' : df['genre,date,name'][i],
#         'doc' : df['doc'][i]
#     }
#     good_list.append(info)
# json.dump(good_list, open('./re' + period + '.json', 'w+'), ensure_ascii=False)

In [98]:
# 중복 기사 체크 방법 1
# 60개 이상의 동일한 명사를 가지고 있는 기사를 찾아본다.
# df = pd.read_json('./re2009_02.json')
# df2 = df

# 각 기사들의 명사들을 담을 리스트를 만든다.
# dflist = []
# for i in range(len(df)):
#     nouns = engine.nouns(df['doc'][i])
#     nouns = [n for n in nouns if len(n) > 1]
#     nouns = set(nouns)
#     nouns = list(nouns)
#     dflist.append(nouns)

# for i in range(len(df)):
#     if(i % 1000 == 0): print(i)
#     for j in range(i+1, len(df)):
#         check = 0
#         for k in df['searchkey'][i]:
#             if(k in df['searchkey'][j]):
#                 check += 1
#         if(check == 0): continue
#         count = 0
#         for k in dflist[i]:
#             if(k in dflist[j]):
#                 count += 1
#         if(count > 60):
#             df2 = df2.drop(index = i)
#             break

In [100]:
# 중복 기사 체크 방법 3
# 각 기사의 명사의 개수를 체크한 후 그 개수 +-50개 정도의 같은 명사 개수의 기사를 찾는다.
# df = pd.read_json('./re2009_02.json')
df3 = df

# 각 기사들의 명사들을 담을 리스트를 만든다.
# dflist = []
# for i in range(len(df)):
#     nouns = engine.nouns(df['doc'][i])
#     nouns = [n for n in nouns if len(n) > 1]
#     nouns = set(nouns)
#     nouns = list(nouns)
#     dflist.append(nouns)

for i in range(len(df)):
    if(i % 1000 == 0): print(i)
    for j in range(i+1, len(df)):
        check = 0
        for k in df['searchkey'][i]:
            if(k in df['searchkey'][j]):
                check += 1
        if(check == 0): continue
        count = 0
        for k in dflist[i]:
            if(k in dflist[j]):
                count += 14
        if(count > len(dflist[i]) - 50):
            df3 = df3.drop(index = i)
            break

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000

In [101]:
len(df3)

8434

In [9]:
df = pd.read_json('./re2009_02.json')

In [14]:
badlist = []
for i in range(len(df)):
    try:
        df2['doc'][i]
    except:
        badlist.append(i)

In [17]:
badlist

[14,
 17,
 22,
 23,
 25,
 26,
 31,
 36,
 38,
 39,
 40,
 41,
 44,
 47,
 48,
 49,
 50,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 66,
 68,
 69,
 70,
 72,
 73,
 74,
 76,
 77,
 80,
 81,
 83,
 85,
 87,
 89,
 90,
 91,
 99,
 102,
 109,
 113,
 114,
 118,
 124,
 125,
 126,
 127,
 128,
 131,
 132,
 134,
 137,
 138,
 139,
 140,
 141,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 156,
 157,
 158,
 159,
 160,
 161,
 163,
 166,
 167,
 168,
 173,
 175,
 181,
 183,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 196,
 197,
 198,
 203,
 205,
 206,
 209,
 210,
 213,
 215,
 216,
 218,
 219,
 221,
 222,
 227,
 228,
 230,
 233,
 235,
 237,
 238,
 240,
 241,
 243,
 245,
 247,
 249,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 261,
 263,
 266,
 269,
 270,
 273,
 274,
 279,
 280,
 281,
 282,
 283,
 285,
 287,
 293,
 294,
 297,
 299,
 301,
 303,
 305,
 309,
 311,
 312,
 314,
 315,
 327,
 330,
 331,
 332,
 337,
 339,
 343,
 348,
 349,
 352,
 353,
 361,
 362,
 369,
 372,
 373,
 376,
 377,
 379,
 380,
 381,
 383,
 386,
 388,
 391,
 399,
 400,
 401,
 402,
 403,
 404,
 409,
 411,
 415,
 421,
 428,
 432,
 433,
 434,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 459,
 469,
 475,
 481,
 486,
 492,
 495,
 496,
 500,
 501,
 505,
 507,
 509,
 511,
 517,
 521,
 522,
 524,
 528,
 535,
 536,
 537,
 541,
 542,
 543,
 544,
 550,
 551,
 552,
 553,
 555,
 558,
 559,
 560,
 561,
 562,
 566,
 569,
 570,
 572,
 574,
 575,
 576,
 577,
 578,
 581,
 582,
 583,
 586,
 587,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 601,
 608,
 609,
 610,
 612,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 628,
 630,
 631,
 632,
 633,
 634,
 637,
 638,
 640,
 641,
 642,
 643,
 647,
 649,
 650,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 668,
 669,
 670,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 683,
 685,
 687,
 688,
 689,
 693,
 694,
 697,
 698,
 699,
 701,
 702,
 703,
 705,
 706,
 707,
 708,
 709,
 714,
 715,
 716,
 718,
 719,
 720,
 721,
 723,
 724,
 725,
 728,
 730,
 733,
 737,
 738,
 739,
 745,
 750,
 755,
 758,
 759,
 763,
 765,
 766,
 767,
 769,
 770,
 771,
 772,
 773,
 775,
 776,
 777,
 781,
 782,
 783,
 784,
 785,
 786,
 790,
 793,
 797,
 801,
 803,
 804,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 836,
 839,
 846,
 847,
 856,
 862,
 863,
 866,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 877,
 879,
 880,
 883,
 884,
 886,
 888,
 889,
 890,
 891,
 892,
 895,
 897,
 898,
 900,
 902,
 904,
 905,
 906,
 907,
 908,
 913,
 914,
 917,
 918,
 919,
 921,
 923,
 925,
 927,
 930,
 931,
 936,
 937,
 938,
 943,
 945,
 946,
 950,
 952,
 953,
 955,
 956,
 957,
 959,
 961,
 965,
 967,
 972,
 973,
 974,
 976,
 977,
 979,
 980,
 981,
 985,
 987,
 992,
 997,
 998,
 1002,
 1003,
 1004,
 1009,
 1010,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1024,
 1026,
 1029,
 1032,
 1035,
 1037,
 1038,
 1039,
 1040,
 1041,
 1043,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1053,
 1054,
 1056,
 1058,
 1059,
 1060,
 1061,
 1063,
 1064,
 1065,
 1066,
 1068,
 1070,
 1077,
 1080,
 1084,
 1086,
 1093,
 1100,
 1101,
 1126,
 1131,
 1132,
 1136,
 1142,
 1154,
 1156,
 1162,
 1170,
 1176,
 1180,
 1182,
 1184,
 1192,
 1193,
 1204,
 1205,
 1207,
 1213,
 1237,
 1252,
 1253,
 1257,
 1259,
 1262,
 1264,
 1267,
 1278,
 1284,
 1295,
 1299,
 1300,
 1303,
 1309,
 1313,
 1316,
 1321,
 1322,
 1324,
 1329,
 1337,
 1340,
 1348,
 1349,
 1350,
 1356,
 1357,
 1364,
 1375,
 1377,
 1378,
 1382,
 1388,
 1390,
 1392,
 1394,
 1404,
 1415,
 1416,
 1417,
 1419,
 1429,
 1435,
 1440,
 1445,
 1446,
 1450,
 1454,
 1457,
 1466,
 1467,
 1469,
 1470,
 1479,
 1487,
 1494,
 1498,
 1499,
 1501,
 1503,
 1507,
 1513,
 1514,
 1515,
 1519,
 1520,
 1522,
 1526,
 1527,
 1530,
 1531,
 1534,
 1535,
 1536,
 1539,
 1542,
 1544,
 1546,
 1549,
 1551,
 1556,
 1557,
 1558,
 1561,
 1566,
 1568,
 1570,
 1572,
 1573,
 1574,
 1578,
 1579,
 1581,
 1587,
 1589,
 1591,
 1594,
 1595,
 1598,
 1610,
 1615,
 1619,
 1622,
 1623,
 1624,
 1626,
 1629,
 1631,
 1632,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1654,
 1658,
 1660,
 1662,
 1663,
 1668,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1681,
 1685,
 1689,
 1698,
 1701,
 1705,
 1708,
 1710,
 1712,
 1720,
 1724,
 1725,
 1729,
 1736,
 1742,
 1743,
 1748,
 1752,
 1760,
 1773,
 1774,
 1778,
 1784,
 1785,
 1786,
 1789,
 1794,
 1801,
 1803,
 1805,
 1806,
 1808,
 1813,
 1825,
 1828,
 1833,
 1834,
 1835,
 1837,
 1841,
 1844,
 1847,
 1849,
 1851,
 1852,
 1853,
 1855,
 1856,
 1857,
 1859,
 1860,
 1871,
 1882,
 1888,
 1890,
 1891,
 1894,
 1898,
 1901,
 1907,
 1908,
 1911,
 1912,
 1915,
 1924,
 1932,
 1934,
 1939,
 1940,
 1941,
 1944,
 1951,
 1954,
 1955,
 1957,
 1958,
 1962,
 1965,
 1966,
 1968,
 1970,
 1975,
 1976,
 1978,
 1980,
 1981,
 1983,
 1985,
 1991,
 1992,
 1999,
 2002,
 2003,
 2004,
 2005,
 2007,
 2009,
 2019,
 2025,
 2026,
 2027,
 2028,
 2030,
 2038,
 2042,
 2048,
 2049,
 2051,
 2053,
 2055,
 2056,
 2060,
 2063,
 2076,
 2077,
 2078,
 2079,
 2080,
 2082,
 2084,
 2086,
 2087,
 2088,
 2089,
 2094,
 2096,
 2106,
 2107,
 2108,
 2111,
 2117,
 2121,
 2122,
 2124,
 2125,
 2126,
 2127,
 2130,
 2134,
 2137,
 2141,
 2143,
 2145,
 2146,
 2147,
 2151,
 2154,
 2158,
 2162,
 2164,
 2170,
 2172,
 2174,
 2175,
 2178,
 2179,
 2181,
 2191,
 2193,
 2195,
 2197,
 2202,
 2210,
 2213,
 2215,
 2216,
 2220,
 2221,
 2224,
 2230,
 2232,
 2233,
 2234,
 2238,
 2240,
 2245,
 2246,
 2247,
 2252,
 2266,
 2270,
 2272,
 2275,
 2286,
 2287,
 2295,
 2298,
 2300,
 2302,
 2304,
 2307,
 2309,
 2310,
 2311,
 2325,
 2326,
 2328,
 2329,
 2332,
 2334,
 2343,
 2344,
 2346,
 2351,
 2353,
 2355,
 2362,
 2372,
 2375,
 2380,
 2384,
 2390,
 2392,
 2395,
 2396,
 2397,
 2399,
 2412,
 2413,
 2417,
 2419,
 2420,
 2421,
 2426,
 2428,
 2429,
 2431,
 2436,
 2437,
 2438,
 2439,
 2440,
 2441,
 2445,
 2446,
 2449,
 2456,
 2459,
 2460,
 2467,
 2477,
 2478,
 2480,
 2483,
 2485,
 2495,
 2496,
 2497,
 2500,
 2504,
 2505,
 2507,
 2514,
 2531,
 2533,
 2535,
 2537,
 2540,
 2542,
 2550,
 2553,
 2556,
 2560,
 2563,
 2564,
 2565,
 2573,
 2577,
 2579,
 2582,
 2589,
 2597,
 2598,
 2599,
 2600,
 2607,
 2609,
 2613,
 2615,
 2624,
 2635,
 2640,
 2644,
 2647,
 2650,
 2654,
 2655,
 2656,
 2658,
 2675,
 2676,
 2680,
 2683,
 2684,
 2685,
 2689,
 2693,
 2694,
 2695,
 2696,
 2697,
 2702,
 2703,
 2704,
 2706,
 2713,
 2721,
 2723,
 2726,
 2727,
 2729,
 2731,
 2735,
 2737,
 2742,
 2746,
 2748,
 2749,
 2751,
 ...]

In [ ]:
18403
14054

In [88]:
i = 31
for j in range(i+1, len(df)):
    check = 0
    for k in df['searchkey'][i]:
        if(k in df['searchkey'][j]):
            check += 1
    if(check == 0): continue
    count = 0
    for k in dflist[i]:
        if(k in dflist[j]):
            count += 1
    if(count > 60):
        print(j)
        break

40

In [91]:
df['title'][31]

'작년 실질소득 첫 마이너스, 4분기 가계동향…소비지출도 3% 줄어'

In [92]:
df['title'][40]

'작년 실질소득 첫 마이너스'

In [93]:
df['doc'][31]

"\n\t\t\t\t경기침체가 가속화하면서 지난해 전국 가구의 실질소득과 소비지출이 관련통계가 작성되기 시작한 이후 가장 큰 폭으로 감소했다. 전국 가구의 실질소득과 소비가 모두 마이너스를 나타낸 것은 금융위기에 따른 경기침체 여파로 소득이 감소한 가계가 씀씀이를 크게 줄였기 때문으로 풀이된다. | 관련기사 10면통계청이 27일 내놓은 '2008년 4·4분기 및 연간 가계동향'에 따르면 지난해 4·4분기 전국 가구(2인 이상)의 가구당 월평균 실질소득은 302만3000원으로 전년 같은 기간에 비해 2.1% 감소했다. 월 평균소득은 명목기준 334만9000원으로 전년 같은 기간에 비해 2.3% 증가했으나 물가상승률을 감안한 실질소득은 2.1% 감소했다. 지난해 연간 기준으로 보면 전국 가구의 실질소득은 307만2000원으로 2007년보다 0.2% 줄었다.통계청은 2003년부터 전국 가구 기준으로 통계를 내기 시작했으며, 실질 소득이 마이너스를 기록한 것은 증감률 비교가 가능한 2004년 이후 5년 만에 처음이다.전국 가구의 실질소득이 마이너스를 기록한 것은 지난해 9월 미국 투자은행 리먼 브라더스 파산 이후 불거진 금융위기가 국내 실물경제로 전이되면서 구조조정과 자산가치 하락으로 소득이 큰 폭으로 감소했기 때문인 것으로 분석됐다.지난해 4·4분기 전국 가구의 월평균 가구당 실질 소비지출은 224만9000원으로 전년 같은 기간에 비해 3.0% 감소했다. 연간 기준 월평균 소비지출도 229만원으로 전년보다 1.1% 줄었다. 지난해 4·4분기 전국 가구의 소비지출 가운데 교육비는 9.3% 증가한 반면 교양·오락(-8.1%), 의류·신발(-3.7%), 광열수도비(-2.3%) 등은 감소해 가계가 불필요한 항목의 지출을 줄이며 허리띠를 졸라매고 있다는 것을 보여줬다.지난해 경기침체로 인해 피해가 저소득층에 집중되면서 '빈익빈 부익부' 현상도 심화된 것으로 나타났다. 지난해 4·4분기 소득하위 30%(소득 1∼3분위) 가구 중 적자를 낸 비율은 55.1%로 전년 같은 기간(53.5%)보다 1.6%포인트 높아졌다.반면 소득상위 30%에 해당하는 고소득층(8∼10분위)의 적자가구 비율은 12.4%에서 10.4%로 낮아졌다. 전체 적자가구 비율은 29.4%로 2007년(28.9%)보다 0.5%포인트 높아졌다. 오관철 기자 okc@kyunghyang.com\n\t\t\t"

In [94]:
df['doc'][40]

'\n\t\t\t\tㆍ4분기 가계동향…소비지출도 3% 줄어경기침체가 가속화하면서 지난해 전국 가구의 실질소득과 소비지출이 관련통계가 작성되기 시작한 이후 가장 큰 폭으로 감소했다. 전국 가구의 실질소득과 소비가 모두 마이너스를 나타낸 것은 금융위기에 따른 경기침체 여파로 소득이 감소한 가계가 씀씀이를 크게 줄였기 때문인 것으로 풀이된다.통계청이 27일 내놓은 ‘2008년 4·4분기 및 연간 가계동향’에 따르면 지난해 4·4분기 전국 가구(2인 이상)의 가구당 월평균 실질소득은 302만3000원으로 전년 같은 기간에 비해 2.1% 감소했다. 월 평균소득은 명목기준 334만9000원으로 전년 같은 기간에 비해 2.3% 증가했으나 물가상승률을 감안한 실질소득은 2.1% 감소했다. 지난해 연간 기준으로 보면 전국 가구의 실질소득은 307만2000원으로 2007년보다 0.2% 줄었다.통계청은 2003년부터 전국 가구 기준으로 통계를 내기 시작했으며, 실질 소득이 마이너스를 기록한 것은 증감률 비교가 가능한 2004년 이후 5년 만에 처음이다.전국 가구의 실질소득이 마이너스를 기록한 것은 지난해 9월 미국 투자은행 리먼 브라더스 파산 이후 불거진 금융위기가 국내 실물경제로 전이되면서 구조조정과 자산가치 하락으로 소득이 큰 폭으로 감소했기 때문인 것으로 분석됐다.지난해 4·4분기 전국 가구의 월평균 가구당 실질 소비지출은 224만9000원으로 전년 같은 기간에 비해 3.0% 감소했다. 연간 기준 월평균 소비지출도 229만원으로 전년보다 1.1% 줄었다. 지난해 4·4분기 전국 가구의 소비지출 가운데 교육비는 9.3% 증가한 반면 교양·오락(-8.1%), 의류·신발(-3.7%), 광열수도비(-2.3%) 등은 감소해 가계가 불필요한 항목의 지출을 줄이며 허리띠를 졸라매고 있다는 것을 보여줬다.지난해 경기침체로 인해 피해가 저소득층에 집중되면서 ‘빈익빈 부익부’ 현상도 심화된 것으로 나타났다. 지난해 4·4분기 소득하위 30%(소득 1∼3분위) 가구 중 적자를 낸 비율은 55.1%로 전년 같은 기간(53.5%)보다 1.6%포인트 높아졌다.반면 소득상위 30%에 해당하는 고소득층(8∼10분위)의 적자가구 비율은 12.4%에서 10.4%로 낮아졌다. 전체 적자가구 비율은 29.4%로 2007년(28.9%)보다 0.5%포인트 높아졌다.\n\t\t\t'

In [95]:
len(dflist[31])

89

In [96]:
len(dflist[40])

86

In [97]:
i = 31
j = 40
count = 0
for k in dflist[i]:
    if(k in dflist[j]):
        count += 1
print(count)

86